
<mat-card>
    <mat-tab-group mat-align-tabs="end">
        <mat-tab label="Valid Projects">
            <div class="add-project">
                <div class="button-add-project">
                    <i class="fas fa-plus-circle" (click)="showProjectForm()"></i>
                </div>
                <app-project-form *ngIf="showForm" (closeForm)="hideProjectForm($event)" [lastId]='projects.length'></app-project-form>
            </div>
            <app-project-list *ngFor="let project of projects" [project]='project'></app-project-list>
        </mat-tab>
        <mat-tab label="Removed Projects">You do not have projects removed</mat-tab>
    </mat-tab-group>
</mat-card>