<mat-card>
    <mat-card-title>New project</mat-card-title>
    <div class="form-structure">
        <form [formGroup]="form" name="form">
            <p>
                <mat-form-field appearance="legacy">
                    <mat-label>Project title</mat-label>
                    <input formControlName="title" matInput>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="legacy">
                    <mat-label>Project ID</mat-label>
                    <input formControlName="id" matInput>
                    <mat-hint>You can not choose this value</mat-hint>
                </mat-form-field>
            </p>
            <section class="submit-structure">
                <button mat-raised-button color="primary" class="button" (click)="saveButton()">Save</button>
                <button mat-raised-button color="basic" class="button" (click)="buttonCancel()">Cancel</button>
            </section>
        </form>
    </div>
</mat-card>